{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block body %}
    <div class='datatable'>
        <h1 class='m-auto p-5'>Index de gestion des commandes</h1>
        <div class='datatable_content'>
            <div class='responsive-table-line' style='margin:0 auto;max-width:1700px;'>
                <table class='table table-bordered table-condensed table-body-center'>
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantitée</th>
                        <th>Crée le ...</th>
                        <th>Total</th>
                        <th>Validation</th>
                        <th>NCmd</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in pagination %}
                        <tr>
                        {% if order.validation > 0 and order.validation < 5 %}
                            <td><img src='/images/product/{{ order.products.picture.filename }}' width='120' alt=''>
                            </td>
                            <td>{{ order.products.package.packaging }}</td>
                            <td>{{ order.createdAt ? order.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                            <td>{{ order.total }} €</td>
                            <td>
                                {% if order.validation == 1 %} Commande en cour de validation
                                {% elseif order.validation == 2 %} Votre commande a été validée
                                {% elseif order.validation == 3 %} Votre commande est prête
                                {% elseif order.validation == 5 %} Commande annulé
                                {% endif %}
                            </td>
                            <td>{{ order.nCmd }}</td>
                            <td>
                                <a href='{{ path('order_show-pdf', {'id': order.id}) }}'>
                                    <button class='btn btn-sm btn-primary'><i class='fas fa-eye fa-2x'></i></button>
                                </a>
                            </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            <a href='{{ path('home_user', {'name' : app.user.name}) }}' class='btn btn-primary float-left'>{{ "button.return"| trans }}</a>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

