{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}Commande n°{{ order.nCmd }}{% endblock %}

{% block body %}
    <div class="datatable">
        <h5 class="card-header text-center py-4 mb-2">
            <strong>{{ "orders.title.show"| trans({"%order_ncmd%": order.nCmd}) }}</strong>
        </h5>
        <div class="datatable_content">
            <div class='col-md-10 font-weight-bold m-auto'>
                <div class='responsive-table-line' style='margin:0 auto;max-width:1700px;'>
                    <h4 class="text-center">{{ order.validation | trans }}</h4>
                    <table class='table table-bordered text-center table-condensed table-body-center'>
                        <thead>
                        <tr>
                            <th>{{ "orders.product" | trans }}</th>
                            <th>{{ "orders.price" | trans }}</th>
                            <th>{{ "orders.quantity" | trans }}</th>
                            <th>{{ "orders.total" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for linkOrderProduct in order.linkOrderProducts %}
                            {% set totalPrice =  linkOrderProduct.product.price * linkOrderProduct.quantity %}
                            <tr>
                                <td>{{ linkOrderProduct.product.name }}</td>
                                <td>{{ linkOrderProduct.product.price | format_currency('EUR') }}</td>
                                <td>{{ linkOrderProduct.quantity }} Unité(s)</td>
                                <td>{{ totalPrice | format_currency('EUR') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="button">
            <a href="{{ path('home') }}"
               class="btn btn-primary float-left">{{ "button.return" | trans }}</a>
        </div>
    </div>
{% endblock %}




