{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{{ "user.title.index"|trans }}{% endblock %}
{% block body %}
    <div class="datatable">
        <h5 class="card-header text-center py-4">
            <strong>{{ "user.title.index"|trans }}</strong>
        </h5>
        <div class="datatable_content">
            {{ include('Layout/_datatable.html.twig', {subject : "user"}) }}
            <div class="button">
                <a href="{{ path('admin_home') }}" class="btn btn-primary float-left">{{ "button.return"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
