{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}Utilisateur {{ user.name }}{% endblock %}

{% block body %}
    <div class="datatable">
        <div class="h1 m-auto text-center">Utilisateur {{ user.name }}</div>
        <div class="datatable_content">
            <div class="responsive-table-line">
                <table class="table table-bordered table-condensed table-body-center">
                    <tbody>
                    <tr>
                        <th>{{ "user.email" |trans }}</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ "user.role" |trans }}</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ "user.status" |trans }}</th>
                        <td>
                            {% if user.status ==  "visiteur" %}
                            {{  "user.state.visitor" |trans }}
                            {% elseif user.status == "client" %}
                               {{"user.state.client" |trans }}
                            {% elseif user.status == "administrateur" %}
                                {{"user.state.admin" |trans}}
                            {% elseif user.status == "ban" %}
                                {{"user.state.ban" |trans}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ "user.firstName"|trans }}</th>
                        <td>{{ user.fullname }}</td>
                    </tr>
                    <tr>
                        <th>{{ "user.userName"|trans }}</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>{{ "table.created_at"|trans }}</th>
                        <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    {% if user.adresse %}
                        <tr>
                            <th>{{ "user.address"|trans }}</th>
                            <td>{{ user.adresse }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <a data-target="{{ path('admin_user_editStatus', {'id': user.id}) }}" data-tooltip="voir"
               class="font-weight-bold tooltipped modal-trigger right-align" href="#modal1">
                <button class="btn btn-warning text-white" data-toggle="modal" data-target="#centralModalSm">
                    Éditer
                </button>
            </a>
            {{ include('Admin/user/_delete_form.html.twig') }}
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <!-- Change class .modal-sm to change the size of the modal -->
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">{{ "user.title.edit_status"|trans }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('admin_user_index') }}" class="btn btn-primary float-left">{{ "button.return"|trans }}</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            //On écoute le "click" sur le bouton ayant la classe "modal-trigger"
            $('.modal-trigger').click(function () {
                //On initialise les modales materialize
                $('.modal').modal();
                //On récupère l'url depuis la propriété "Data-target" de la balise html a
                url = $(this).attr('data-target');
                //on fait un appel ajax vers l'action symfony qui nous renvoie la vue
                $.get(url, function (data) {
                    //on injecte le html dans la modale
                    $('.modal-content').html(data);
                    //on ouvre la modale
                    $('#modal1').modal();
                });
            })
        });
    </script>
{% endblock %}

