{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{{ "stock.title.index" | trans }}{% endblock %}

{% block body %}
    <div class="datatable">
        <h5 class="card-header text-center py-4">
            <strong>{{ "stock.title.index" | trans }}</strong>
        </h5>
        <div class="datatable_content">
            <div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
                <table class="table table-bordered table-condensed table-body-center">
                    <thead>
                    <tr>
                        <th>{{ "stock.product"| trans }}</th>
                        <th>{{ "table.update"| trans }}</th>
                        <th>{{ "stock.label.package"| trans }}</th>
                        <th>{{ "stock.label.quantity"| trans }}</th>
                        <th>{{ "table.action"| trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stock in stocks %}
                        <tr>
                            <td>{{ stock.product.name }}</td>
                            <td>{{ stock.majAt ? stock.majAt|date('d/m/Y H:i:s') : '' }}</td>
                            <td>{{ stock.product.package.packaging }}</td>
                            <td>
                                <div class="stock-{{ stock.id }}">{{ stock.quantity }}</div>
                            </td>
                            <td class="def-number-input number-input safari_only m-auto">
                                <a type="button"
                                   onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </a>
                                <label for="plus-moins{{ stock.id }}"></label>
                                <input id="{{ stock.id }}" class="quantity" min="0" name="quantity"
                                       value="{{ stock.quantity }}"
                                       type="number">
                                <a type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <button name="{{ stock.id }}" type="submit" data-id="{{ stock.id }}"
                                        data-path="{{ path('admin_stock_edit', {'id': stock.id}) }}"
                                        class="ml-2 btn btn-success btn-sm edit-stock text-white">
                                    <i class="fas fa-check"></i>
                                </button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{ "table.no_element" | trans}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="button">
                <a href="{{ path('admin_home') }}" class="btn btn-primary float-left" title="{{ "button.return"|trans }}">{{ "button.return" | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
