{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}Stock{% endblock %}

{% block body %}
    <div class="d-flex">
        <a href="{{ path('admin_stock_index') }}">
            <div class="btn btn-primary">Retour</div>
        </a>
        <div class="h1 m-auto">Stock</div>
    </div>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ stock.quantity }}</td>
            </tr>
            <tr>
                <th>Mise a jour le ...</th>
                <td>{{ stock.majAt ? stock.majAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>

    <a href="{{ path('admin_stock_edit', {'id': stock.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>

    {{ include('Admin/stock/_delete_form.html.twig') }}
{% endblock %}
