{% trans_default_domain "NegasProjectTrans" %}
{{ form_start(form, {"attr" : {"class": "m-auto"}}) }}
<div class="row">
    <div class="col-md-12">
        <div class="md-form">
            {{ form_widget(form.firstname) }}
            {{ form_label(form.firstname) }}
        </div>
        <div class="md-form">
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
        </div>
        <div class="md-form">
            {{ form_widget(form.subject) }}
            {{ form_label(form.subject) }}
        </div>
        <div class="md-form">
            {{ form_widget(form.message) }}
            {{ form_label(form.message) }}
        </div>
    </div>
    <button class='btn btn-success w-50'>{{ button_label|default( "button.save" |trans) }}</button>
</div>
{{ form_end(form) }}

