{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{% endblock %}
{% block body %}
    <h1 class='m-auto text-center'>Votre administration</h1>
        <div class='admin-home text-center font-weight-bold'>
            <div class='container-fluid'>
                <div class='row d-flex justify-content-center'>
                    <a href="{{ path('user_profile_detail', {'id' : app.user.id}) }}" class="case-contact case col-md-3 m-1 rgba-light-blue-light">
                        <div class="text-decoration-none text-black-50">
                            <h3 class="text-center mt-3 mb-2">{{ "home_public.setting_management"|trans }}</h3>
                            <i class="fas fa-user-cog fa-5x"></i>
                        </div>
                    </a>
                    <a href="{{ path('user_orders', {'id' : app.user.id}) }}" class="case-order case col-md-3 m-1">
                        <div class="text-decoration-none text-black-50">
                            <h3 class="text-center mt-3 mb-5">{{ "home_public.orders_management"|trans }}</h3>
                            <i class="fas fa-dolly-flatbed fa-5x"></i></div>
                    </a>
                    <a href="{{ path('user_notification_index', {'id' : app.user.id}) }}" class="case-notification case col-md-3 m-1">
                        <div class="text-decoration-none text-black-50">
                            <h3 class="text-center mt-3 mb-5">{{ "home_public.notification_management"|trans }}</h3>
                            <i class="fas fa-bell fa-5x"></i></div>
                    </a>
                    <a href="{{ path('user_report_index', {'id' : app.user.id}) }}" class="case-report case col-md-3 m-1">
                        <div class="text-decoration-none text-black-50">
                            <h3 class="text-center mt-3 mb-5">{{ "home_public.report_management"|trans }}</h3>
                            <i class="fas fa-flag fa-5x"></i></div>
                    </a>
                </div>
            </div>
            <a href='{{ path('home') }}' class='btn btn-primary float-left'>{{ "button.return"| trans }}</a>
        </div>
{% endblock %}



