{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{% endblock %}

{% block body %}
    <div class='container'>
        <div class="datatable">
            <div class='h1 m-auto'>Vos informations</div>
            <div class="datatable_content">
                <div class='responsive-table-line' style='margin:0 auto;max-width:1700px;'>
                    <table class='table table-bordered text-center table-condensed table-body-center'>
                        <tbody>
                        <tr>
                            <th scope='row' class='font-weight-bolder'>{{ "user.lastName" | trans }}</th>
                            <td>{{ app.user.name }}</td>
                        </tr>
                        <tr>
                            <th scope='row' class='font-weight-bolder'>{{ "user.firstName" | trans }}</th>
                            <td>{{ app.user.firstname }}</td>
                        </tr>
                        <tr>
                            <th scope='row' class='font-weight-bolder'>{{ "user.userName"| trans }}</th>
                            <td>{{ app.user.username }}</td>
                        </tr>
                        <tr>
                            <th scope='row' class='font-weight-bolder'>{{ "user.email"| trans }}</th>
                            <td>{{ app.user.email }}</td>
                        </tr>
                        <tr>
                            <th scope='row' class='font-weight-bolder'>{{ "user.status" | trans }}</th>
                            <td>
                                {% if app.user.status ==  "Visiteur" %}
                                    {{  "user.state.visitor" |trans }}
                                {% elseif app.user.status == "Client" %}
                                    {{"user.state.client" |trans }}
                                {% elseif app.user.status == "Administrateur" %}
                                    {{"user.state.admin" |trans}}
                                {% elseif app.user.status == "Banni" %}
                                    {{"user.state.ban" |trans}}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {% if app.user.status == "user.state.client" |trans or  app.user.status == "user.state.admin" |trans %}
                        <a href='{{ path('public_edit_user', {'id' : app.user.id}) }}' class='btn-success btn'>{{ "button.edit" | trans }}</a>
                    {% endif %}
                    <a href='{{ path('home_user', {'id' : app.user.id}) }}' class='btn btn-primary float-left'>{{ "button.return"| trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
