<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon titre</title>
</head>
<body>
    <h1 style="text-align: center" class="h1 m-auto">Détail de la commande {{ order.nCmd }}</h1>
        <div style="margin:0 auto;max-width:1700px;">
            <table>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Produit</th>
                    <td>{{ order.products }}</td>
                </tr>
                <tr>
                    <th>Quantitée</th>
                    <td>{{ order.quantity }}</td>
                </tr>
                <tr>
                    <th>Crée le ...</th>
                    <td>{{ order.createdAt ? order.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{ order.total }}</td>
                </tr>
                <tr>
                    <th>Validation</th>
                    <td>{{ order.validation }}</td>
                </tr>
                <tr>
                    <th>NCmd</th>
                    <td>{{ order.nCmd }}</td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
