{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{{ "news.title.index" | trans }}{% endblock %}

{% block body %}
    <div class="datatable">
        <h5 class="card-header text-center py-4">
            <strong>{{ "news.title.index" | trans }}</strong>
        </h5>
        <div class="datatable_content">
            {{ include('Layout/_datatable.html.twig', {"subject" : "news"}) }}
            <div class="button">
                <a href="{{ path('admin_news_new') }}" class="btn btn-success text-white" title="{{ "button.create"|trans }}">{{ "button.create" | trans }}</a>
                <a href="{{ path('admin_home') }}" class="btn btn-primary text-white float-left" title="{{ "button.return"|trans }}">{{ "button.return" | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
