{% extends 'base.html.twig' %}

{% block title %}News "{{ news.title }}"{% endblock %}

{% block body %}
    <div class="d-flex">
        <a href="{{ path('admin_news_index') }}">
            <div class="btn btn-primary">Retour</div>
        </a>
        <div class="h1 m-auto"><div class="btn btn-success">Création d'un élément</div>News "{{ news.title }}"</div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ news.Titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ news.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ news.image }}</td>
            </tr>
            <tr>
                <th>Crée le ...</th>
                <td>{{ news.createdAt ? news.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('admin_news_edit', {'id': news.id}) }}"><img src="{{ asset('images/svg/edition.png') }}" alt="edition"></a>

    {{ include('Admin/news/_delete_form.html.twig') }}
{% endblock %}
