{% extends 'base.html.twig' %}

{% block title %}Édition du produit {{ product.name }}{% endblock %}

{% block body %}
    <div class="datatable formulary">
        <h5 class="card-header text-center py-4">
            <strong>Edition du produit {{ product.name }}</strong>
        </h5>
        <div class="datatable_content">
    {{ include('Admin/product/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="d-flex">
        {{ include('Admin/product/_delete_form.html.twig') }}
        <a href="{{ path('admin_product_index') }}">
            <button class="btn btn-primary">Retour</button>
        </a>
    </div>
        </div>
    </div>
{% endblock %}
