{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{{ "product.title.edit"| trans({"%product_name%": product.name}) }}{% endblock %}

{% block body %}
    <div class="datatable formulary">
        <h5 class="card-header text-center py-4">
            <strong>{{ "product.title.edit"| trans({"%product_name%": product.name}) }}</strong>
        </h5>
        <div class="datatable_content">
            {{ include('Admin/product/_form.html.twig', {'button_label': "button.update" |trans}) }}
            <div class="d-flex ">
                {{ include('Admin/product/_delete_form.html.twig') }}
                <a href="{{ path('admin_product_index') }}">
                    <button class="btn btn-primary float-left">{{ "button.return"|trans }}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
