{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}Produit {{ product.name }}{% endblock %}

{% block body %}
    <div class="datatable">
        <h5 class="card-header text-center py-4">
            <strong>{{ "product.title.show"| trans({"%product_name%": product.name}) }}</strong>
        </h5>
        <div class="datatable_content">
            <div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
                <table class="table table-bordered table-condensed table-body-center">
                    <tbody>
                    <tr>
                        <th>{{ "product.name" | trans }}</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ "product.description" | trans }}</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th>{{ "product.package" | trans }}</th>
                        <td>{{ product.package.quantity }} {{ product.package.unity }}</td>
                    </tr>
                    <tr>
                        <th>{{ "product.price" | trans }}</th>
                        <td>{{ product.price| format_currency("EUR") }}</td>
                    </tr>
                    <tr>
                        <th>{{ "product.big_picture" | trans }}</th>
                        <td><img src="{{ vich_uploader_asset(product.picture, 'imageFile') }}" alt="{{ product.name }} large" width="500"></td>
                    </tr>
                    <tr>
                        <th>{{ "product.small_picture" | trans }}</th>
                        <td>
                            <img class="img_png" src="/images/product/{{ product.filenamePng }}" alt="{{ product.name }} small" width="500">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="button">
                <a href="{{ path('admin_product_index') }}" class="btn btn-primary float-left">{{ "button.return" | trans }}</a>
                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-warning text-white"><i class="fas fa-edit"></i></a>
                {{ include('Admin/product/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}


