{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}Page d'accueil-Teraneo{% endblock %}
{% block body %}
    {% if not is_granted('ROLE_ADMIN') %}
        <div class='cart_logo sticky-top ml-md-5'>
            <a class='d-flex' data-toggle='modal' data-target='#modalCart'>
                {% if app.session.get('cart') is null %}
                    <img src='{{ asset('images/order_Cart.png') }}' alt='cart'>
                {% else %}
                    <img src='{{ asset('images/order_Cart_full.png') }}' alt='cart'>
                {% endif %}
                <div class='nb-cart'>{{ cartTotal }}€</div>
            </a>
        </div>
    {% endif %}
    <div class='container'>
        <div class='grid'>
            {% for product in products %}
                <div class='card'>
                    <a href='{{ path('public_product_show', {'id' : product.id}) }}'
                       class='text-center m-auto card-img-top'>
                        <img class='img_png' src='/images/product/{{ product.filenamePng }}'
                             alt='{{ product.name }} small'>
                        {% if app.session.get("cart")[product.id] is defined %}
                            <span class="position-absolute border rounded-circle p-2 text-white" style="font-size:1.5em; background-color: #093b37; top: -10%; width: 3vw ;right: 0">
                                {{ app.session.get("cart")[product.id] }}
                            </span>
                        {% endif %}
                    </a>
                    <span class="plus-moins-{{ product.id }}"></span>
                    <div class='card-body'>
                        <h4 class='card-title'>{{ product.name |capitalize }}</h4>
                        <a href='{{ path('public_product_show', {'id' : product.id}) }}'
                           title="{{ "product.hover.findOutMore" | trans }}">
                            <button class='btn-sm btn-primary'>{{ "product.hover.findOutMore" | trans }}</button>
                        </a>
                        {% if product.stock.quantity <1 %}
                            <div class='text-center mt-2'>
                                <img src='{{ asset('images/svg/danger.svg') }}' alt=''>
                                <p>{{ "product.soldOut" | trans }}</p>
                            </div>
                        {% elseif product.stock.quantity < 30 %}
                            <div class='text-center mt-2'>
                                <img src='{{ asset('images/svg/warning.svg') }}' alt=''>
                                <p>{{ "product.hover.soonFindOutMore" | trans }}</p>
                            </div>
                        {% endif %}
                        <div class='font-weight-bold'>{{ product.price }}€ / {{ product.package.quantity}} {{ product.package.unity }}</div>
                        {% if product.stock.quantity > 0 %}
                            <form action='{{ path('cart_add', {'id': product.id }) }}' class='mt-2 cart-refresh'
                                  method='post'>
                                <div class='form-action'>
                                    <div class='minus-plus'>
                                        <div class='def-number-input number-input safari_only minus-plus-content'>
                                            <button type='button' title="{{ "product.hover.minus"| trans }}"
                                                    onclick='this.parentNode.querySelector("input[type=number]").stepDown()'>
                                                <i class='fas fa-minus'></i>
                                            </button>
                                            <label for='plus-moins-{{ product.id }}'></label>
                                            <input id='plus-moins-{{ product.id }}'
                                                   class='quantity'
                                                   min='0'
                                                   max='{{ product.stock.quantity }}'
                                                   name='quantity'
                                                   value="{{  app.session.get("cart")[product.id] is defined ? app.session.get("cart")[product.id] : 1}}"
                                                   type='number'>
                                            <button type='button' title="{{ "product.hover.plus"| trans }}"
                                                    onclick='this.parentNode.querySelector("input[type=number]").stepUp()'>
                                                <i class='fas fa-plus'></i>
                                            </button>
                                        </div>
                                        {% if not is_granted('ROLE_ADMIN') %}
                                            <button type="submit" class="btn btn-primary p-2 btn-sm btn-cart ml-2"
                                                    title="{{ "product.hover.cart" | trans }}">
                                                <i class="fas fa-shopping-cart fa-2x"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class='card empty' data-toggle='modal' data-target='#modalAddProduct'>
                    <div class='card-body empty'>
                        <i class='fas fa-plus'></i>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
    {{ include('Public/_cart-modal.html.twig') }}
    {{ include('Admin/_add-product-modal.html.twig') }}
    <script type="text/javascript">
        document.onreadystatechange = function () {
            new WOW().init();
        }
    </script>
{% endblock %}



