{% trans_default_domain "NegasProjectTrans" %}
<nav class="navbar navbar-light w-100">
    <div class="nav-content">
        <a href="/" class="logo-home"><i class="fas fa-home fa-sm"></i></a>
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}" width="200" alt="logo - Teraneo"><br>
            <h1>{{ "header.tilte" | trans }}</h1><span class="ml-2"><i class="fab fa-opencart fa-3x"></i></span>
        </div>
        <div class="navbar-options">
            {% if not app.user %}
            <a class="btn btn-sm btn-success" href="{{ path('app_signin') }}">{{ "header.signin"| trans }}</a>
            <a class="btn btn-sm btn-success" href="{{ path('app_login') }}">{{ "header.login"| trans }}</a>
            {% elseif  is_granted('ROLE_USER') %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle btn btn-myspace" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ "header.my_space"|trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary text-white"
                         aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="{{ path('admin_home') }}">{{ "header.admin_home"| trans }}</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">{{ "header.logout"| trans }}</a>
                    </div>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                     aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="{{ path('home_user', {'name': app.user.firstname}) }}">{{ "header.my_account"| trans }}</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">{{ "header.logout"| trans }}</a>
                </div>
            </div>
            {% set nNotificationNotRead = 0 %}
            {% for notification in notifications %}
                {% if notification.readAt is null %}
                    {% set nNotificationNotRead = nNotificationNotRead + 1 %}
                {% endif %}
            {% endfor %}
            <ul class="nav align-items-center justify-content-between">
                <li class="btn-group">
                    <a type="button" class="dropdown-toggle btn-group-sm text-decoration-none text-white"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i><span class="not-read-number">{{ nNotificationNotRead }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        style="width: 22vw">
                        {% for notification in notifications %}
                            <li {{ notification.readAt is null ? " style='background-color : #a7d4f7'" }}class="text-decoration-none notif rounded mb-1 p-2"
                                id="{{ notification.id }}">
                                <a href="{{ notification.path is not null ? path(notification.path, {'id': notification.idPath}): path("user_notification_show", {'id': notification.id}) }}"
                                   class="m-0 p-0">
                                    <div class="font-bold font-italic font-weight-bold">{{ notification.createdAt|date("d/m/Y H:i:s") }}</div>
                                    {{ notification.message }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
