{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{{ "contact.title.show" | trans }}{% endblock %}

{% block body %}
    <div class="datatable">
        <div class="h1 m-auto text-center">{{ "contact.title.show" | trans }}</div>
        <div class="datatable_content">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ "contact.firstName" | trans }}</th>
                    <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>{{ "contact.firstName" | trans }}</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>{{ "contact.subject" | trans }}</th>
                <td>{{ contact.subject }}</td>
            </tr>
                <tr>
                    <th>{{ "contact.message" | trans }}</th>
                    <td>{{ contact.message }}</td>
                </tr>
                <tr>
                    <th>{{ "table.created_at" | trans }}</th>
                    <td>{{ contact.createdAt ? contact.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="button">
            <a href="{{ path('admin_contact_index') }}" class="btn btn-primary float-left" title="{{ "button.return"|trans }}">{{ "button.return" | trans }}</a>
            {{ include('Admin/contact/_delete_form.html.twig') }}
        </div>
    </div>


{% endblock %}
